* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #3d3e41;
  color: #DADADB;
  width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #DADADB;
}

li {
  list-style: none;
}

/* Navbar */
.nav-container {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #525356;
  padding: 10px;
}

.social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.social_icons a {
  color: #9B9C9D;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

/* About */
.about-container {
  padding: 0 2rem;
}

.about-container h2 {
  font-size: 2rem;
  font-weight: 600;
}

.about-container h3 {
  margin: 5px 0px;
}

.about-container .flex-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
}

.about-container .flex-about .about-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.about-container .flex-about .about-img {
  width: 100%;
}

.about-container .flex-about .about-img .profile-img {
  overflow: hidden;
  width: auto;
  height: 330px;
  object-fit: cover;
  border: 2px solid #DADADB;
}

@media screen and (max-width: 768px) {
  .about-container .flex-about {
    flex-direction: column;
  }

  .about-container .flex-about .about-text {
    width: 100%;
  }

  .about-container .flex-about .about-img {
    width: 100%;
    margin-left: 200px;
  }
}

/* Experience */
.experience-container {
  padding: 0 2rem;
}

.experience-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.experience-container h3 {
  font-size: 20px;
  margin: 5px 0px;
}

.experience-container h4 {
  font-size: 18px;
  margin: 5px 0px;
}

.experience-container .flex-experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
}

.experience-container .flex-experience .experience-title {
  margin-bottom: 25px;
  width: 75%;
}

.experience-container .flex-experience .experience-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .experience-container .flex-experience {
    flex-direction: column;
  }
}

/* Skills */
.skills-container {
  padding: 0 0rem;
}

.skills-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .skills-container .grid-skills {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px
  }
}

.skills-container .grid-skills .skill-card {
  background-color: #ffffff;
  color: #1D1E20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: context-menu;
}

.skills-container .grid-skills i {
  font-size: 1.5rem;
}

.skills-container .grid-skills .purple:hover {
  background-color: #c857bde2;
}

.skills-container .grid-skills .blue:hover {
  background-color: #4965d4;
}

.skills-container .grid-skills .yellow:hover {
  background-color: #F7DF1E;
}

.skills-container .grid-skills .grey:hover {
  background-color: #878585;
}

/* Projects */
.projects-container {
  padding: 0 2rem;
}

.projects-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-card {
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
}

.project-card .project-header {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 20px;
}

.project-card .folder-icon {
  font-size: 35px;
  color: #FFCC17;
}

.project-header .small-icons {
  display: flex;
  gap: 20px;
}

.project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all .5s ease;
}

.project-card .small-icons a:hover {
  color: #FFCC17;
}

.project-card a h3 {
  font-size: 19px;
  
}

.project-card .project p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #b3b3b3;
}

/* contact */
.contact-container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
  }
}

.contact-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-container p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}